[submodule "lib/dompdf"]
	path = lib/dompdf
	url = https://github.com/dompdf/dompdf.git
[submodule "lib/smarty"]
	path = lib/smarty
	url = https://github.com/ericingram/smarty.git
[submodule "lib/facebook"]
	path = lib/facebook
	url = https://github.com/facebook/facebook-php-sdk.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
url=https://github.com/mrbmc/bootstrap.git
[submodule "lib/phpmailer"]
	path = lib/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "lib/twitteroauth"]
	path = lib/twitteroauth
	url = https://github.com/abraham/twitteroauth.git
[submodule "lib/recess"]
	path = lib/recess
	url = https://github.com/twitter/recess.git
[submodule "htdocs/js/lib/underscore"]
	path = htdocs/js/lib/underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "htdocs/js/lib/jquery-validation"]
	path = htdocs/js/lib/jquery-validation
	url = https://github.com/jzaefferer/jquery-validation.git
[submodule "htdocs/js/lib/require"]
	path = htdocs/js/lib/require
	url = https://github.com/jrburke/requirejs.git
[submodule "htdocs/js/lib/jquery-cookie"]
	path = htdocs/js/lib/jquery-cookie
	url = https://github.com/carhartl/jquery-cookie
[submodule "htdocs/js/lib/requirejs-plugins"]
	path = htdocs/js/lib/requirejs-plugins
	url = https://github.com/millermedeiros/requirejs-plugins.git
