/* @group FORMS */

fieldset h3,.module h3,.block h3 {
    color: @blue-deep;
}
fieldset,.module,.block {
    clear:both;
}

legend {
    color: @brand-primary;
    font-weight: bold;
    display: block;
    float: none;
}
fieldset label {
    display: block;
    float: none;
    text-align: left;
}


.control-group {
    margin: @grid-gutter-width/2 0;
    clear: both;
    display: block;
}

.input-block-level {
    display: block;
}

input,textarea,input.text,input.date-pick {
    padding: .5em .5em;
    font-weight: bold;
    font-size: 16px;
    color: @brand-primary;
    .border-radius(1.5em);
    .box-shadow(inset 0 1px 4px rgba(0,0,0,0.33));
    &.naked {
        // background: transparent;
        // border: 0;
        // color: #369;
        // font-weight: normal;
        // padding: 0;
        // width: 32px;
        // display: inline;
        // text-align:right;
    }
}
// textarea {
// width: 320px;
// height: 160px;
// padding: 0.5em;
// display:block;
// background: #fff;
// border: inset 2px #CCC;
// }

span.status span.error {
    clear: both;
    overflow: visible;
    margin: 0px;
    color: #369;
}

span.status span.checked {
    display: none;
}
label.error {
    display: inline;
    color: #FF0;
}