
/* ----------------------------------------
Typography
*/
@font-face {
    font-family:"Gotham Rounded";
    font-weight: 300;
    src:url('/css/fonts/GothamRounded-Light.eot');
    src:url('/css/fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/GothamRounded-Light.ttf') format('truetype');
    src:url('/css/fonts/GothamRounded-Light.woff') format('woff');
}
@font-face {
    font-family:"Gotham Rounded";
    font-weight: 400;
    src:url('/css/fonts/GothamRounded-Book.eot');
    src:url('/css/fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/GothamRounded-Book.ttf') format('truetype');
    src:url('/css/fonts/GothamRounded-Book.woff') format('woff');
}
@font-face {
    font-family:"Gotham Rounded";
    font-weight: 600;
    src:url('/css/fonts/GothamRounded-Bold.eot');
    src:url('/css/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/GothamRounded-Bold.ttf') format('truetype');
    src:url('/css/fonts/GothamRounded-Bold.woff') format('woff');
}


@bodyFontFamily: "Helvetica Neue","HelveticaNeue",Helvetica, san-serif;
@headingsFontFamily: "Gotham Rounded",@bodyFontFamily;
@headingsFontWeight: 600;
@displayFontFamily: "Gotham Rounded",@bodyFontFamily;
@displayFontWeight: 300;


body,div,span,p,dd,dt,dl,li,td,h1,h2,h3 {
	font-family: @bodyFontFamily;
	margin: 0;
	padding: 0;
}
html, body {
	color: @gray-dark;
	font-size: 16px;
}

th,tr,td {
	color: @brand-primary;
}

a,a:visited {
	color: @brand-primary;
	text-decoration: none;
}

a:hover,a:visited:hover {
	color: lighten(@brand-primary, -10%);
}

h1,h2,h3 {
	padding: 0px;
	margin:  @grid-gutter-width 0;
	font-family: @headings-font-family;
	font-weight: normal;
	letter-spacing: -0.05em;
}

h1 {
	font-size: 1.9em;
	color: #0099cc;
	font-family: @displayFontFamily;
	font-weight: @displayFontWeight;
}

h2 {
	font-size: 1.5em;
	color: #FFF;
	text-shadow: #09C 0px -1px 0px;
	clear: both;
}

h3 {
	font-weight: bold;
	font-size: 1.15em;
	letter-spacing: 0;
	color: #fff;
	text-shadow: #09C 0px -1px 0px;
}

#footer {
	font-size: small;
	text-align: left;
}

p {
	margin: 0.5em 0;
}

small,.small {
	font-size: 0.75em;
	border-radius: 0;
}

img {
	border: 0px;
}

