@import 'shared/_variables.less';
@import 'shared/_mixins.less';
/* ----------------------------------------
RESET
*/
html,body,div,ul,ol,dl,li,dt,dd,form,fieldset,input,textarea,label,table,tr,td,img,a,span {
    padding: 0px;
    margin: 0px;
    border: none;
}
@import "components/_type.less";
@import 'components/_button.less';
@import 'components/_navigation.less';
@import 'components/_forms.less';
@import 'components/_modal.less';
@import 'components/_sprites.less';

@import 'shared/_layout.less';
@import 'shared/_authentication.less';


/** --------------------------------------------------
// ANIMATIONS
*/

.fade {
    opacity: 0;
    .transition(opacity .25s);
}
.fade.in {
    opacity: 1;
}
.collapse {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    &.in {
        height: 100%;
        padding-top: inherit;
        padding-bottom: inherit;
    }
}


img.thumbnail {
    max-width: 100%;
    width: auto;
}



@import '_homepage.less';



#feedback {
    width: 50%;
    margin: 10px auto;
    color: #090;
}

table.profile {
    background: #08C url(/images/profile_bg.gif) no-repeat 100px 0px;
    width: 640px;
    height: 260px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

table.profile td {
    padding: 10px 0px;
    color: #FFF;
    text-align: center;
    font-size: small;
}

table.list,ul.list,ol.list {
    margin: 0 0 @grid-gutter-width 0;
    width: 100%;
    list-style-type: none;
}

.list th, .list>li.head, .tabContent h3 {
    margin: 0;
    padding: @grid-gutter-width/2 @grid-gutter-width;
    width: auto;
    font-size: 0.8em;
    background: @blue-surface;
    // #gradient.vertical(lighten(@blue-surface,2%),lighten(@blue-surface,-5%));
    text-shadow: none;
    color: @blue-deep;
}


.list td,.list li {
    padding: @grid-gutter-width/1 @grid-gutter-width;
    margin: 0;
    list-style-position: inside;
    background: #FFFFFF;
    // #gradient.vertical(#FFFFFF,#f9f9f9);
    border-top: solid 1px #fff;
    border-bottom: solid 1px @blue-surface;
    // font-size: 0.8em;
    color: #369;
}
.list li span {
display:inline-block;
}
.list li span.ds-title {width: 27%;}
.list li span.ds-location {width: 40%;}
.list li span.ds-geocode {width: 28%;}
.list li span.d-date {width: 20%;}
.list li span.d-title {width: 58%;}
.list li span.d-profile {width: 20%;}
.list li span.ds-title {font-weight:bold;}

.list tr:hover,.list>li:hover {
background: #FFFFF0;
}

table.list a {
    color: #369;
}

table {
    border-collapse: collapse;
    padding: 0;
    border: none;
    .border-radius(@border-radius-base);
    td {
        background: #FFF;
        padding: @grid-gutter-width/2;
        color: @gray;
        border-collapse: collapse;
    }
    th {
        background: #FFF;
        margin: 0 1px 0 0;
        padding: @grid-gutter-width/2;
        border-bottom: 1px solid @blue-surface;
        font-size: 12px;
        font-weight: bold;
        color: @gray;
    }
}
.thumbnail {
    margin-bottom: @grid-gutter-width;
}

/*dt {
    clear: both;
    float: left;
    width: 150px;
    font-weight: bold;
    padding: @grid-gutter-width;
}

dd {
    padding: @grid-gutter-width;
}*/





#profile_sidebar {
    background: #FFF;
    padding: 1%;
    width: 34%;
    .border-radius(1em);
    .box-shadow(1px 2px 3px #666);
}
#profile_sidebar p,#profile_sidebar div,#profile_sidebar span, #profile_sidebar h2,#profile_sidebar h3 {
}

.map {
    width: 100%;
    height: 320px;
    margin: 0 auto;
}
@media (min-height:640px) {
    .map {
        height: 480px;
    }
}

/* @group AUTOCOMPLETE */
.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: block;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_loading {
    background : Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
    background-color: Highlight;
    color: HighlightText;
}
/* @end */




#feature_list {
    width: 400px;
    margin: 20px 0 0 50px;
}
#feature_list li {
    float: none;
    display: inline-block;
    width: 49%;
    margin: 0 0 1em 0px;
}

a.twitter,a.facebook {
    clear: both;
    margin: 0 auto;
    width: 151px;
    height: 36px;
    background: url(/images/connect_twitter.png) no-repeat;
    text-indent: -999em;
    display: inline-block;
}
a.twitter,a.twitter:hover {
    background: url(/images/connect_twitter.png) no-repeat;
}
a.facebook,a.facebook:hover {
    background: url(/images/connect_facebook.gif) no-repeat;
}


.Logbook {
    #body {
        & > .breadcrumb {
            float: left;
        }
    }
}

#log-charts img {
    max-width: 100%;
    width: 100%;
}


.ASC {
    &:after {
        content: " \25B4";
        display: inline-block;
        margin-left: 5px;
    }
}
.DESC {
    &:after {
        content: " \25BE";
        display: inline-block;
        margin-left: 5px;
    }
}

@import 'shared/_responsive.less';
