@gutter: 20px;


@colorBrand:        #369;
@colorBrandAccent:  #FF6;


/* ----------------------------------------
RESET
*/
html,body,div,ul,ol,dl,li,dt,dd,form,fieldset,input,textarea,label,table,tr,td,img,a,span
    {
    padding: 0px;
    margin: 0px;
    border: none;
}
@import "_type.less";




@import '_layout.less';






.home {
    width: 100%;
    padding: 0;
    margin: -30px 0 0 0;
    text-align:center;
}
.home h1 {
    float:right;
    color: #FFF;
    text-shadow: #29C 0PX 2px 2px;
    width: 54%;
    margin: 1.5em 0 0 0;
}
#signup_buttons {
    width: 40%;
    float:left;
    background-color: #50A3D0;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    padding: 1em;
}
#signup_buttons p {
    text-align: center;
    margin: 0.25em 0;
    color: #fff;
}
#signup_buttons a {
color: #FFF;
}
#signup_buttons a:hover,#signup_buttons a.hot:hover {
color: #FF6;
}
#signup_buttons .hot {
    width: 151px;
    padding: 0.125em 0;
    font-size: 1.8em;
}
#signup_buttons a.hot {
    color: #FFF;
}





#captchaImage a {
    border: solid 0px #39C;
    margin: 3px;
    display: block;
    float: left;
    width: 80px;
    height: 80px;
}

#captchaImage a,#exposureWrapper a span {
margin: 3px 18px;
border: 0;
}
#captchaImage a.selected,#exposureWrapper a.selected span {
    margin: 0px 15px;
    border: solid 3px #CC006C;
}

#captchaImage img {
    display: block;
    width: 80px;
    height: 80px;
}

#feedback {
    width: 50%;
    margin: 10px auto;
    color: #090;
}

table.profile {
    background: #08C url(/images/profile_bg.gif) no-repeat 100px 0px;
    width: 640px;
    height: 260px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

table.profile td {
    padding: 10px 0px;
    color: #FFF;
    text-align: center;
    font-size: small;
}

table.list,ul.list,ol.list {
    margin: 0 0 @gutter/1 0;
    width: 100%;
    list-style-type: none;
}

.list th, .list>li.head, .tabContent h3 {
/*  border-top: solid 1px #EEE;
    border-bottom: solid 1px #DDD;
    */
    margin: 0;
    padding: 1em;
    width: auto;
    font-size: 0.8em;
    background-color: #F0F9FF;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#F9F9F9),to(#EEE) );
    text-shadow: 0 0 0;
    color: #29C;
}

fieldset h3,.module h3,.block h3 {
    color: #069;
    text-shadow: 0 0 0;
}

.list td,.list li {
    padding: 0.75em 1em;
    font-size: 0.8em;
    margin: 0;
    color: #369;
    list-style-position: inside;
    background-color: #f0f0f0;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFF),to(#f9F9F9));
    border-top: solid 1px #fff;
    border-bottom: solid 1px #CCC;
}
.list li span {
display:inline-block;
}
.list li span.ds-title {width: 27%;}
.list li span.ds-location {width: 40%;}
.list li span.ds-geocode {width: 28%;}
.list li span.d-date {width: 20%;}
.list li span.d-title {width: 58%;}
.list li span.d-profile {width: 20%;}

.list li span.ds-title {font-weight:bold;}


.odd {
}
.even {
}

.list tr:hover,.list>li:hover {
background: #FFFFF0;
}

table.list a {
    color: #369;
}

dt {
    clear: both;
    float: left;
    width: 150px;
    font-weight: bold;
    padding: @gutter/2;
}

dd {
    padding: @gutter/2;
}

button,.button,input.submit,a.button,.navigation.segmented>li>a,.tabs>li>a {
    background-color: #CCC;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFF),
        to(#ccc) );
    border: solid 1px #ccc;
    border-right-color: #999;
    border-bottom-color: #000;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font: normal 1.1em "_header",helvetica, arial, san-serif;
    letter-spacing: 0.1em;
    text-shadow: #FFF 0px 1px 0px;
    cursor: pointer;
    box-shadow: 1px 2px 2px #666;
    -moz-box-shadow: 1px 2px 3px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    text-decoration: none;
    display: inline-block;
    padding: .5em 1em;
    margin: 0 0 10px 0;
}

button:hover,.button:hover,input.submit:hover,a.button:hover {
    background-color: #fff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFF),
        to(#B0E0FF) );
    color: #369;
}

button.hot,.button.hot {
    background-color: #ec008c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#ec008c),
        to(#ec008c) );
    color: #FFF;
    text-shadow: #333 0px -1px 0px;
    border: solid 1px #FF99CC;
    border-right-color: #Cc006c;
    border-bottom-color: #Cc006c;
}

button.hot:hover,.button.hot:hover {
    background-color: #ec008c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#Fc009c),
        to(#Fc009c) );
}

.button.big,button.big{
    font-size: 1.6em;
    letter-spacing: 0.05em;
}

/*text icon on a button*/
button b,.button b,input.submit b,a.button b,.navigation.segmented>li>a b,.tabs>li>a b {
background: #069;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
display:inline-block;
min-width: 20px;
line-height: 20px;
padding: 0;
margin: -2px 0 0 -2px;
text-align:center;
text-shadow: none;
color: #FFF;
}

/* @group NAVIGATION */
h1.logo {
    text-indent: -999em;
    width: 150px;
    height: 70px;
    margin: 0px 20px 0px 20px;
    padding: 0px;
    float: left;
    display: inline-block;
    background: url(/images/fish_150x69.gif) no-repeat 0px 0px;
}
h1.logo.big {
    background: url(/images/fish_big.png) no-repeat 0 0;
    width: 320px;
    height: 145px;
}
h1.logo a {
    width: 150px;
    height: 50px;
    display:block;
}
h1.logo a:hover {
background: none;
}
#header a {
    text-decoration: none;
}

ul.navigation {}

ul.navigation>li {
    list-style-type: none;
    display: block;
    float: left;
    margin: 0 4px 0 0;
}

ul.navigation>li>a {
    display: block;
}

#globalnav {
    background-color: #9CE;
    border: solid 1px #9BD;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    float: left;
    height: auto;
    margin: 0;
}

/*
#globalnav>li {
    margin: 0;
    padding: 0;
    border: 0;
}*/

#globalnav>li>a {
    margin: 0px;
    padding: 0.75em 1em;
    border: solid 1px #DEF;
    border-width: 1px 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #FFF;
    font: bold 1.0em Helvetica,san-serif;
    letter-spacing: -0.05em;
    text-decoration: none;
    text-shadow: #666 0px -1px 0px;
    text-transform: capitalize;
    background-color: #25c1f5;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#bfefff),to(#25c1f5) );
}
#globalnav>li>a:hover {
    background-color: #bfefff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#CfF0ff),to(#40D0fF) );
}
#globalnav > li:first-child > a {
    border-left: 1px solid #d9f5ff;
}
#globalnav > li:last-child > a {
    border-right: 1px solid #d9f5ff;
}

#globalnav > li.active > a {
/*
    text-shadow: #FFF 0px -1px 0px;
    color: #369;
*/
    background-color: #008fbf;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#25c1f5),to(#008fbf) );
}

.pagenav {
    height: 20px;
    margin: 5px 0 0 0;
    border: solid 0px #000;
}

.pagenav > li > a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2px 5px;
    background-color: #CCC;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFF),
        to(#ccc) );
}

.tab_area {
    clear: both;
    border: 0px solid #eee;
    width: 100%;
    height: auto;
    /*
    padding: 10px;*/
}
.tabContent {
    background-color: #EEE;
    /*min-width: 600px;*/
}
.navigation.segmented,
.tabs {
    height: 2em;
    margin: 0 1em 1em 0;
}
ul.tabs {
display: block;
clear: none;
}
.navigation.segmented>li,
ul.tabs>li {
    margin: 0;
}

.navigation.segmented > li > a,
ul.tabs > li > a {
    font: bold 0.7em arial;
    text-transform: uppercase;
    margin: 0;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.navigation.segmented > li > a.selected, 
ul.tabs > li > a.selected {
    background-color: #EEE;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#FFF),
        to(#EEE) );
        color: #666;
}

.navigation.segmented > li:first-child > a,
ul.tabs > li:first-child > a {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-bottomleft: 1em;
    -webkit-border-top-left-radius: 1em;
    -webkit-border-bottom-left-radius: 1em;

}

.navigation.segmented > li:last-child > a,
ul.tabs > li:last-child > a {
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -moz-border-radius-bottomright: 1em;
    -webkit-border-top-right-radius: 1em;
    -webkit-border-bottom-right-radius: 1em;
}
/* @end */

/* @group FORMS */
fieldset,.module,.block {
    clear:both;
    margin: 0px 0px 20px 0px;
    border: 5px solid #EEE;
    border: 0;
    background: #F0F9FF;
    padding: @gutter/2;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;

    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
}

legend {
    color: #369;
    font-weight: bold;
    background-color: #F0F9FF;
    margin: 0 0 0 -5px;
    padding: 0.5em 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-topright: 1em;
    -webkit-border-top-left-radius: 1em;
    -webkit-border-top-right-radius: 1em;
}

fieldset div {
    margin: 0px 0px @gutter 0px;
}

fieldset label {
    text-align: left;
    width: 200px;
    display: block;
    float: none;
    margin: 2px 5px 2px 5px;
}

input.text,input.date-pick {
    font: bold 16px arial;
    color: #09F;
    border: solid 1px #CCC;
    padding: 5px;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}
input.text.naked {
background: transparent;
border: 0;
color: #369;
font-weight: normal;
padding: 0;
width: 32px;
display: inline;
text-align:right;
}
.text.long {
width: 400px;
}

textarea {
width: 320px;
height: 160px;
padding: 0.5em;
display:block;
background: #fff;
border: inset 2px #CCC;
}
span.status span.error {
    clear: both;
    overflow: visible;
    margin: 0px;
    color: #369;
}

span.status span.checked {
    display: none;
}
label.error {
    display: inline;
    color: #FF0;
}
/* @end */



#profile_sidebar {
    background: #FFF;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    padding: 1%;
    width: 34%;
    box-shadow: 1px 2px 3px #666;
    -moz-box-shadow: 1px 2px 3px #666;
    -webkit-box-shadow: 1px 2px 3px #666;
}
#profile_sidebar p,#profile_sidebar div,#profile_sidebar span, #profile_sidebar h2,#profile_sidebar h3 {
}

div.alert {
    text-align: center;
    background: #FF9;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 2px 2px #000;
    -moz-box-shadow: 0px 2px 2px #000;
    -webkit-box-shadow: 0px 2px 2px #000;
}

div.clear {
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
    line-height: 0;
}

.map {
    width: 100%;
    height: 320px;
    margin: 0 auto;
}

.right {
    float: right;
    margin-left: 2%;
}

.left {
    float: left;
    margin-right: 0;
}


/* @group AUTOCOMPLETE */
.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: block;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    filter:mask();
    width:3000px;
    height:3000px;
}

.ac_results li {
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_loading {
    background : Window url('./indicator.gif') right center no-repeat;
}

.ac_over {
    background-color: Highlight;
    color: HighlightText;
}
/* @end */






#feature_list {
    width: 400px;
    margin: 20px 0 0 50px;
}
#feature_list li {
    float: none;
    display: inline-block;
    width: 49%;
    margin: 0 0 1em 0px;
}

a.twitter,a.facebook {
    clear: both;
    margin: 0 auto;
    width: 151px;
    height: 36px;
    background: url(/images/connect_twitter.png) no-repeat;
    text-indent: -999em;
    display: inline-block;
}
a.twitter,a.twitter:hover {
    background: url(/images/connect_twitter.png) no-repeat;
}
a.facebook,a.facebook:hover {
    background: url(/images/connect_facebook.gif) no-repeat;
}


.sprite {
background:url(/images/sprites.gif) no-repeat 0px 0px;
width:25px;
height:100px;
display: block;
clear: none;
float: none;
text-indent: -999em;
}
.sprite.tank_full {
background-position: 0px -250px;
width: 13px;
height: 50px;
float: left;
}
.sprite.tank_empty {
background-position: -15px -250px;
width: 13px;
height: 50px;
float: left;
}
.sprite.shorty {
background-position: 0px -325px;
width: 40px;
height: 100px;
float:left;
margin-right: 1em;
}
.sprite.wetsuit {
background-position: -40px -325px;
width: 50px;
height: 100px;
float:left;
margin-right: 1em;
}
.sprite.drysuit {
background-position: -90px -325px;
width: 50px;
height: 100px;
margin-right: 1em;
float:left;
}
.sprite.gloves {
background-position: -147px -325px;
width: 50px;
height: 100px;
margin-right: 1em;
float:left;
}
.sprite.hood {
background-position: -209px -325px;
width: 35px;
height: 100px;
margin-right: 1em;
float:left;
}

.sprite.skin {
background-position: -280px -325px;
width: 40px;
height: 100px;
margin-right: 1em;
float:left;
}

.sprite.farmer {
background-position: -247px -325px;
width: 30px;
height: 100px;
margin-right: 1em;
float:left;
}


#modal {
    display: none;
    border: solid 0.5em #F0F9FF;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    background: #25c1f5;
    color: #F0F9FF;
    position: fixed;
    padding: 2%;
    width: 62%;
    top: 2em;
    left: 50%;
    margin-left: -36%;
    z-index: 2001;
}
#modal_close a {
    display:block;
    position: fixed;
    top: 1em;
    left: 80%;
    z-index: 2002;
    margin-left: 0;
    cursor: pointer;
    background: #25c1f5;
    border: solid 5px #F0F9FF;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 20px;
    height: 20px;
    z-index: 2004;
    box-shadow: 2px -2px 4px #666;
    -moz-box-shadow: 2px -2px 4px #666;
    -webkit-box-shadow: 2px -2px 4px #666;
    font-size: 24px;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
    overflow: hidden;
    color: #666;
    text-decoration: none;
}
#modal_bg {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1401px;
    background-color: #000000;
    z-index: 2000;
    opacity: 0.5;
    -moz-opacity: 0.5;
}